html{
	scroll-behavior: smooth;
}
body{
	scroll-behavior: smooth;
	overflow-y: scroll;
	position: relative;
}
h1{
	color:red;
	text-align: center;
	/* height: 500vh; */
	top:50%;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	height: 5em;
	width: 100%;
	background-color: rgba(0, 0, 1, 0.37);
	color:white;
	box-sizing: border-box;
	padding: 12px 18px;
	transition:  0.4s ease-out;
	text-align: center;
	z-index: 5555;

}

ul{
	list-style-type:none ;
}
li a{
	/* text-align:; */
	float: left;
	padding: 20px;
	text-decoration: none;
	color: white;
	font-weight: 600;
	letter-spacing: .085em;
	transition: 0.5s;
	text-transform: uppercase;
}
li a:hover{
	/* text-align:; */
	background-color: rgba(0, 0, 0, 0.596);
	text-decoration: none;
	color: white;
	/* border-radius: ; */
}
nav.scroll {
	background-color: rgb(150, 235, 15);
	color: black;
	z-index: 5555;
} 
#home{
	height: 1000px;	
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/pro.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.name{
	font-weight: 1000;
	font-size: 60px;
	position: relative;
	top:40%;
	color:white;
	
}

#experiance{
	padding-top:60px ;
	padding-bottom: 70px;
	background-color: #2f2f2f;
	
}
.card{
	width: 28rem;
	border: none;

}
.card-body{
	background-color: black;
	color:gray;
	border: none;
	/* box-shadow: 0px 1px 0px 1px; */
	box-shadow:0px 0px 5px 0px black;
}
.card-title{
	color:white;
	font-weight:600 ;
}
.card-subtitle{
	color:#5cd03c !important;
}
#contact{
	background-color: #101610;
	padding-top: 100px;
	padding-bottom: 100px;
	color:white;
}
.c_title{
	padding-left: 20px;
	color:rgb(4, 108, 126);
	
}
.c_sub{
	padding-left: 20px;
	color:gray;
}
.form-controll{
	color: #fff;
	background-color: #57545442;
	border:none;
	padding: 7px;
	width: 100%;
	border-radius: 2px;
}
.btn{
	width: 500px;
}
.icon_s{

	height: 29px;
	width: 29px;

}
.icon_s:hover{
	transition:1.5s;
	transform:rotate(360deg);
}
#about{
	padding-top:50px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
	
}